body {
  background: linear-gradient(135deg, #010a2d, #4c1c80, #4f3b10);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .btn {
    font-size: 1.2rem !important;
    padding: 1rem !important;
  }
}

input {
    font-size: 1.5rem !important;
  }

